{% extends 'base.html' %}
{% load static %}








    {% block content %}
        <div class="container carousels">
            <div class="row">
                <div class="col-md-12 col-12 carousell">



                    <div class="carousel slide carousel-fade" data-ride="carousel" id="carouselWork" data-interval="3000">


                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="/Movie">
                                    <div class="card customization-card">
                                        <div class="imgg">
                                            <img src="{% static 'images/yourname.jpg' %}" alt="img" class="card-img-top d-block">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-center  card-title"> Your name </h4>
                                            <p class="card-text text-justify">Mitsuha Miyamizu, a high school girl, yearns to live the life of a boy in the bustling city of Tokyo—a dream that stands in stark contrast to her present life in the countryside. Meanwhile in the city, Taki
                                                Tachibana lives a busy life as a high school student while juggling his part-time job and hopes for a future in architecture....</p>
                                        </div>


                                    </div>
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a href="/Movie">
                                    <div class="card customization-card">
                                        <div class="imgg">
                                            <img src="{% static 'images/weathering.webp' %}" alt="img" class="card-img-top d-block">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-center  card-title"> Weathering with you</h4>
                                            <p class="card-text text-justify"> The movie is about a boy and a girl get their destiny baffled during the era where the balance of the weather gets messy. Hotaka Morisaki, a high school student who ran out of the house in the island away from
                                                Japan, met Hina Amano, a girl with a mysterious power who can make the weather sunny just by "praying.".... </p>
                                        </div>


                                    </div>
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a href="/Movie">
                                    <div class="card customization-card">
                                        <div class="imgg">
                                            <img src="{% static 'images/asilent.jpg' %}"alt="img" class="card-img-top d-block">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-center  card-title"> A silent voice </h4>
                                            <p class="card-text text-justify"> Ishida Shouya bullies a deaf girl, Nishimiya Shouko, to the point that she transfers to another school. As a result, he is ostracized and bullied himself with no friends to speak of and no plans for the future....</p>
                                        </div>


                                    </div>
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a href="/Movie">
                                    <div class="card customization-card">
                                        <div class="imgg">
                                            <img src="{% static 'images/wolfchildren.jpg' %}" alt="img" class="card-img-top d-block">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-center  card-title"> Wolf Children </h4>
                                            <p class="card-text text-justify"> The theme of the film is the love between parents and children. The story covers 13 years and begins with a 19-year-old college student named Hana who encounters and falls in "fairy tale-like" love with a "wolf
                                                man." After marrying the wolf man, Hana gives birth and raises two wolf children — an older sister named Yuki who was born on a snowy day, and a younger brother named Ame who was born on a rainy day....</p>
                                        </div>


                                    </div>
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a href="/Movie">
                                    <div class="card customization-card">
                                        <div class="imgg">
                                            <img src="{% static 'images/spirited.webp' %}"alt="img" class="card-img-top d-block">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-center  card-title"> Spirited Away </h4>
                                            <p class="card-text text-justify"> On the way to their new home, 10-year-old Chihiro Ogino's family stumbles upon a deserted theme park. Intrigued, the family investigates the park, though unbeknown to them, it is secretly inhabited by spirits
                                                who sleep by day and appear at night. When Chihiro's mother and father eat food from a restaurant in the street, angry spirits turns them into pigs. Furthermore, a wide sea has appeared between the spirit
                                                world and the human one, trapping Chihiro, the sole human, in a land of spirits....</p>

                                        </div>


                                    </div>
                                </a>
                            </div>
                                 <div class="carousel-item">
                                <a href="/Movie">
                                    <div class="card customization-card">
                                        <div class="imgg">
                                            <img src="{% static 'images/pan.jpg' %}" alt="img" class="card-img-top d-block">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-center  card-title"> I want to eat your pancreas </h4>
                                            <p class="card-text text-justify"> An aloof boy comes across a book in a hospital waiting room. He soon discovers that it is a diary kept by his very popular classmate who reveals to him that she is secretly suffering from a fatal pancreatic
                                                illness.....</p>

                                        </div>


                                    </div>
                                </a>
                            </div>


                            <!-- <a href="#carouselWork" data-slide="prev" class="carousel-control-prev iconni">
                                <span class="carousel-control-prev-icon"></span>
                                <span class="sr-only"></span>
                            </a>

                            <a href="#carouselWork" data-slide="next" class="carousel-control-next iconni">
                                <span class="carousel-control-next-icon"></span>
                                <span class="sr-only"></span>
                            </a> -->
                        </div>


                    </div>

                </div>
            </div>
        </div>


        <div class="container qna">
            <div class="row">
                <div class="col-md-12">
                    <div class="quiz-container">
                        <h5> Questions for your Knowledge </h5>
                        <p class="checker"> </p>
                        <h6 id="questions"> </h6>
                        <div class="quiz-options">
                            <form name="quiz-Work" method="#" action="#">
                                <div class="form-check">
                                    <input type="radio" name="quiz" id="quiz1" class="form-check-input">
                                    <label for="quiz1" class="form-check-label" id="label1">   </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="quiz" id="quiz2" class="form-check-input">
                                    <label for="quiz2" class="form-check-label" id="label2">   </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="quiz" id="quiz3" class="form-check-input">
                                    <label for="quiz3" class="form-check-label" id="label3">   </label>
                                </div>


                                <button class="btn btn-sm" type="button" onclick="btn_previous()" name="button" value="button"> Previous </button>

                                <button class="btn btn-sm" type="button" onclick="btn_next()" name="button" value="button"> Next </button>


                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
{% endblock %}


